body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #222;
  background-color: #fff;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

/*
 * Classes
*/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.gap-8 {
  gap: 0.5rem;
}
